[submodule "raspberry-pi/buildroot"]
	path = raspberry-pi/buildroot
	url = https://github.com/JGrossholtz/opensono.buildroot.raspberrypi 
[submodule "raspberry-pi/wifi/rtl8188eu"]
	path = raspberry-pi/wifi/rtl8188eu
	url = https://github.com/lwfinger/rtl8188eu
